/*************************Tag Selectors*************************/
body {
  background-color: #d6e2f0;
  width: 1440px;
  margin: 0;

}
div {
  background-color: #fff;
  width: 250px;
  border-radius: 10px;
  padding: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h3 {
  color: #1f3251;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  width: 245px;
}
p {
  color: #7b879d;
  font-size: 15px;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  width: 245px;
}
img {

  width: 250px;
  border-radius: 10px;
}
